* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.announce {
  background-color: rgb(204, 204, 204);
  color: black;
  position: fixed;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announce p {
  font-family: "Lato", sans-serif;
  font-size: 11pt;
  margin: 14.6667px 0px;
}

.navigation {
  width: 100%;
  height: 56px;
  margin-top: 64px;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
}
.nav-left img {
  width: 47.72px;
  padding: 8px 4px 8px 12px;
}
.nav-left p {
  /* padding-top: 10px; */
  align-self: center;
  color: white;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
.nav-left {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}
.container-1 {
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(https://lh5.googleusercontent.com/MC00U3JTS6XeGkLWJDxvChQRD4Th5YnSnTYcGZpHZrawIyPTxf0jXDvgCkkF_XaMRaCijaEreDOtJECRPXBfNSU=w16383);
}
.container-1 p {
  color: white;
  width: 80vw;
  font-size: 70px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
}
